
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.container {
    width: 600px;
    border: 1px solid red;
    margin: 30px auto;
}

.box {
    height: 300px;
    display: flex;
}

.item {
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: 1px solid #fff;
}
.item:nth-child(7) {
    background-image: url(../img/test1.jpg);
    background-color: rgba(0,0,0,0.8);
}

.item:nth-child(4) {
    display: flex;
    align-items: center;
}